@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@font-face {
  font-family: AnironBold;
  src: url("../assets/anirb___.ttf");
}
@font-face {
  font-family: Aniron;
  src: url("../assets/anirm___.ttf");
}
header {
  background-color: #ff5f01;
  color: #ffe7e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  font-family: AnironBold;
  padding: 1rem;
  font-size: 20px;
}
header ul {
  font-family: Aniron;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}
header ul li {
  padding: 0.8rem;
}
header ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}
header ul li a:hover {
  text-decoration: underline;
}

main {
  position: relative;
  min-height: 100vh;
}
main .content-wrap {
  padding-bottom: 12rem;
  /* Footer height */
}
main h1 {
  font-family: AnironBold;
  font-size: 2rem;
  text-align: center;
  margin: 3rem;
}
main .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .flex-container .circle1 {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: 3.3333333333px solid #ff5f01;
  border-radius: 50%;
  box-shadow: none;
}
main .flex-container .circle2 {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 13.3333333333px solid #fdcd0b;
  border-radius: 50%;
  box-shadow: 3px 3px 5px #d3aa02;
}
main .flex-container .circles {
  margin: 3rem;
  display: flex;
  align-items: center;
}
main .flex-container .circles .circle3:nth-child(n+1) {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 40/15px solid black;
  border-radius: 50%;
  box-shadow: 3px 3px 5px black;
  border: 3px solid black;
  margin: -7px;
}
main .flex-container .circles .circle3:nth-child(n+2) {
  background-color: transparent;
  width: 55px;
  height: 55px;
  border: 55/15px solid black;
  border-radius: 50%;
  box-shadow: 3px 3px 5px black;
  border: 4px solid black;
  margin: -8px;
}
main .flex-container .circles .circle3:nth-child(n+3) {
  background-color: transparent;
  width: 70px;
  height: 70px;
  border: 70/15px solid black;
  border-radius: 50%;
  box-shadow: 3px 3px 5px black;
  border: 5px solid black;
  margin: -9px;
}
main .flex-container .circles .circle3:nth-child(n+4) {
  background-color: transparent;
  width: 85px;
  height: 85px;
  border: 85/15px solid black;
  border-radius: 50%;
  box-shadow: 3px 3px 5px black;
  border: 6px solid black;
  margin: -10px;
}
main .flex-container .circles .circle3:nth-child(n+5) {
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: 100/15px solid black;
  border-radius: 50%;
  box-shadow: 3px 3px 5px black;
  border: 7px solid black;
  margin: -11px;
}
main .flex-container .circles .circle3:nth-child(n+6) {
  background-color: transparent;
  width: 115px;
  height: 115px;
  border: 115/15px solid black;
  border-radius: 50%;
  box-shadow: 3px 3px 5px black;
  border: 8px solid black;
  margin: -12px;
}

footer {
  background-color: #ff5f01;
  color: #ffe7e1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem;
}
footer ul {
  font-family: Aniron;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
footer ul li {
  padding: 0.5rem;
}
footer ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}
footer ul li a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
